<h1>Analysis</h1>
<p>This contains some of the transformations the researcher might be interested in.</p>

<%= link_to "Analyse" , 'started_challenge' , method: :post %> Started Challenge data

<br>

<%= link_to "Analyse" , 'spent_time' , method: :post %> time spent by different users